<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <h1>Movie Directory Page</h1>

    <% if(movies.length > 0){ %>
        <% movies.forEach(movie => { %>
            
            <a class="single" href="/player/<%= movie._id %>">
                <h3 class="title"><%= movie.title %></h3>
            </a>
            
        <% }) %>
    <% } else{ %>
        <h2>There are no movies to display</h2>
    <% } %>
</body>
</html>